VITE_MEIRO_SDK_ENABLED=true
VITE_MEIRO_ENDPOINT=https://meiro-demo.eu.pipes.meiro.io/collect/web-sdk
VITE_MEIRO_SCRIPT_URL=https://meiro-demo.eu.pipes.meiro.io/mpt.js
VITE_MEIRO_DEBUG=true
VITE_MEIRO_PROFILE_API_ENABLED=true
VITE_MEIRO_PROFILE_API_ENDPOINT=https://meiro-demo.eu.pipes.meiro.io/profile-api/web-perso
VITE_MEIRO_PROFILE_API_TOKEN=
VITE_MEIRO_PROFILE_API_IDENTIFIER_TYPE=user_id
VITE_DEMO_DEBUG_ENABLED=true
